.btn {
    background-color: rgba(5, 65, 126, 0.692); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  .btn:hover {
    background-color: rgb(29, 73, 206);
  }


  .txt-content {
    text-align: center;
  }
  .div-context {
    justify-content: space-between;
  }